{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>

<body>
    <main>
        <h1>My Accounts</h1>
            <table>
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Number of receipts</th>
                </tr>
                </thead>
                <tbody>
                {% for account_list in accounts %}
                <tr>
                    <td>{{ account_list.name }}</td>
                    <td>{{ account_list.number }}</td>
                    <td>{{ account_list.receipts.all|length }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
    </main>
</body>
</html>
